<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"> <title><= title %></title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><span>Welcome to <%= title %>!</span></h1>
  <br>
  <h1>Chrisjohn G. Crisostomo</h1>
  <br>
  <h1>EDUCATION</h1>
  <h2>2nd Year College Student</h2>
  <br>
  <h1>SKILLS</h1>
  <h2>Programming</h2>
</body>
</html>